@import 'bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap';
@import 'mixins';

/** Colors **/
$color1: #BED4DF; //Light blue
$color2: #78A3B9; //Bright blue
$color3: #4C5D75; //Medium blue
$color4: #323E4E; //Dark Medium blue
$color5: #2D3032; //Dark blue
$color6: rgba(100,100,100,.5); //Transparent Gray
$color7: hsla(360, 35%, 75%, .5); //Redish

html, body {
  margin: 30px 0;
}
body {
  padding-top: 40px;
  font-family: 'Roboto';
  font-weight: 300;
}

h1 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -1px;
}
h2 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -.5px;
}
a {
  @include transition();
  color: $color2;

  &:hover {
    color: $color3;
    text-decoration: none;
  }
}
button {
  @include transition();
}

.navbar-brand {
  font-family: 'Nova Mono';
  font-size: 3.6rem;
  letter-spacing: -4px;
}

.nav li {
  @include transition();
  cursor: pointer;
  text-transform: uppercase;

  &.active,
  &:hover {
    background-color: $color2;
  }
}

.today {
  float: left;
  margin-top: 0;
}

.btn-new {
  margin-bottom: 1em;
  text-transform: uppercase;
  color: $color3;

  &:hover {
    background-color: $color5;
    color: $color1;
    border-color: #000;
  }

  .glyphicon {
    font-size: .8em;
    top: 0px;
    margin-right: 3px;
  }
}

.list-group {
  clear: both;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.list-group-item {
  flex-basis: 275px;
  @include transition();

  &:hover {
    box-shadow: 0 0 5px $color6;
  }
}

.list-item-title {
  float: left;
  width: 94%;
  font-size: 2rem;
  margin-bottom: 7px;
  margin-top: 0px;
}

.list-item-actions {
  float: right;
  cursor: pointer;
  margin-top: 2px;

  .glyphicon:hover {
    color: $color1;
  }
}
.dropdown-menu {
  min-width: 80px;
}

.list-item-subtitle {
  clear: both;
  display: block;
  font-size: 1.45rem;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 10px;
}

.list-item-dollar {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 2.3em;
  font-weight: bold;
}

.list-group-nested {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    .bold {
      font-weight: 400;
    }
  }
}

.btn-cancel {
  box-shadow: none !important;
}

table.services {
  thead {
    text-transform: capitalize;
  }

  .service td {
    font-size: 12px;
    line-height: 2.2em;
  }
  input[type='date'] {
    width: 11em;
    padding-right: 0;
  }
  input[type='number'] {
    width: 5em;
    padding-right: 0;
  }
  .input-description {
    width: 35em;
  }
  .tax,
  .discount {
    text-align: right;
  }
  .new-service td {
    background-color: #ccc;
  }

  .total-amount {
    font-weight: bold;
    font-size: 1.7em;
    color: #ff0000;
  }
  .total-title {
    font-weight: bold;
    font-size: 1.7em;
    text-align: right;
  }

}

.status-inactive {
  background-color: #f9f9f9;
  * {
    color: #999;
  }
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);

  .modal-content {
    padding: 1em;

    .btn-success {
      float: right;
    }
  }
  .modal-title {
    border-bottom: 1px solid #999;
    margin-bottom: .5em;
  }
}



