@mixin transition($properties: all, $duration: .2s, $easing: ease-out) {
  -webkit-transition: $properties $duration $easing;
  -moz-transition: $properties $duration $easing;
  -ms-transition: $properties $duration $easing;
  -o-transition: $properties $duration $easing;
  transition: $properties $duration $easing;
}
