<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}FreelanceTrackr{{/link-to}}
    </div><!--  .navbar-header -->

    <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        {{#link-to 'projects' tagName='li' current-when='projects'}}{{#link-to 'projects'}}Projects{{/link-to}}{{/link-to}}
        {{!-- {{#link-to 'invoices' tagName='li'}}{{#link-to 'invoices'}}Invoices{{/link-to}}{{/link-to}}
        {{#link-to 'clients.index' tagName='li' currentWhen='clients,client'}}{{#link-to 'clients.index'}}Clients{{/link-to}}{{/link-to}}
        {{#link-to 'services' tagName='li'}}{{#link-to 'services'}}Services{{/link-to}}{{/link-to}}
        {{#link-to 'reports' tagName='li'}}{{#link-to 'reports'}}Reports{{/link-to}}{{/link-to}} --}}
      </ul>
    </div><!-- .collapse -->
  </div>
</nav>
